<h1>Listing savings</h1>

<table>
  <thead>
    <tr>
      <th>Finish date</th>
      <th>Value</th>
      <th>Child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savings.each do |saving| %>
      <tr>
        <td><%= saving.finish_date %></td>
        <td><%= saving.value %></td>
        <td><%= saving.child %></td>
        <td><%= link_to 'Show', saving %></td>
        <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
        <td><%= link_to 'Destroy', saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saving', new_saving_path %>
